[Unit]
Description=UDP Custom Service by Abdofaiz
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/root/udp-custom
Restart=always
RestartSec=3
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target