[Unit]
Description=UDP Custom Service by Abdofaiz
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/udp
ExecStart=/usr/local/bin/udp-custom server --config /etc/udp/config.json
Restart=always
RestartSec=3
LimitNOFILE=1000000
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target